whatsapp-bot-hardcoded.json
{
    "name": "WhatsApp Bot - PRIMARY (Hardcoded)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-primary",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "d66bd6d5-b752-4273-af20-fb9068ea16b5",
            "name": "WAHA Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                -192,
                128
            ],
            "webhookId": "whatsapp-primary"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\"status\":\"ok\"}",
                "options": {
                    "responseCode": 200
                }
            },
            "id": "25fa46a0-e44d-4c7b-8e84-c744bda280d0",
            "name": "Respond 200 OK",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "// NODE: EVENT FILTER\nconst raw = $input.first().json;\nif (!raw) return [];\n\nconst data = raw.body || raw;\nconst event = (data.event || '').toLowerCase();\nconst payload = data.payload || {};\n\nconsole.log('[EventFilter] event:', event, '| from:', payload.from);\n\nconst BLOCKED = ['message.ack', 'message.reaction', 'presence', 'session.status', 'state.change'];\nif (BLOCKED.some(e => event.includes(e))) {\n  return [];\n}\n\nif (!event.includes('message') && !payload.from) {\n  return [];\n}\n\nreturn $input.all();"
            },
            "id": "6621436c-f352-4ca7-9132-570eb73d702c",
            "name": "Event Filter",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                0,
                256
            ]
        },
        {
            "parameters": {
                "jsCode": "// NODE: NORMALIZE & VALIDATE (PRIVATE ONLY)\nconst raw = $input.first().json;\nconst data = raw.body || raw;\nconst payload = data.payload || {};\n\nconst chatId = (payload.from || data.from || '').trim();\nconst message = (payload.body || payload.text || data.body || '').trim();\nconst fromMe = payload.fromMe === true || payload.fromMe === 'true';\nconst pushName = payload.pushName || payload.notifyName || '';\n\nconsole.log('[Normalize] from:', chatId, '| msg:', message);\n\nif (!chatId || !chatId.includes('@c.us')) {\n  console.log('[Normalize] DROPPED: Bukan pesan pribadi:', chatId);\n  return [];\n}\n\nif (!message) {\n  console.log('[Normalize] DROPPED: Pesan kosong');\n  return [];\n}\n\nconst phone = chatId.replace('@c.us', '');\n\nreturn [{ json: { chatId, phone, message, fromMe, pushName, timestamp: new Date().toISOString() } }];"
            },
            "id": "bbd511e6-59f5-4f09-a7d1-0427478bce72",
            "name": "Normalize & Validate",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                208,
                256
            ]
        },
        {
            "parameters": {
                "jsCode": "// NODE: ANTI-LOOP FILTER\nconst fromMe = $json.fromMe;\nif (fromMe === true || fromMe === 'true') {\n  return [];\n}\nreturn $input.all();"
            },
            "id": "291f3f42-0085-42a1-b28f-8b7e3420ed29",
            "name": "Anti-Loop Filter",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                416,
                256
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://dashboard-kecamatan-nginx/api/whatsapp/handle",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer fJJCz33U8jkHIKXEhTpv91GZJz97VGPHmItYlvxPNUi8obg05BYsZCh5TmfAznma"
                        },
                        {
                            "name": "Accept",
                            "value": "application/json"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ phone: $json.phone, message: $json.message, chatId: $json.chatId }) }}",
                "options": {
                    "response": {
                        "response": {
                            "neverError": true
                        }
                    },
                    "timeout": 15000
                }
            },
            "id": "e5fec563-0b6f-4cc2-8b5a-d7dc226ce4e4",
            "name": "Call Dashboard API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                624,
                256
            ]
        },
        {
            "parameters": {
                "jsCode": "// NODE: EXTRACT REPLY\nconst resp = $json;\nconst reply = resp.reply || resp.message || resp.text || resp.data?.reply || null;\nconst chatId = $('Anti-Loop Filter').first().json.chatId;\n\nif (!reply) return [];\nreturn [{ json: { chatId, reply } }];"
            },
            "id": "4aeb7f9b-13b8-44ea-ab80-931df9e13d8b",
            "name": "Extract Reply",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                832,
                256
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://waha-kecamatan:3000/api/sendText",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-Api-Key",
                            "value": "62a72516dd1b418499d9dd22075ccfa0"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ session: 'default', chatId: $json.chatId, text: $json.reply }) }}",
                "options": {
                    "timeout": 10000
                }
            },
            "id": "92c6c50b-77e3-459f-b87d-67903477a84b",
            "name": "SendText WAHA",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1056,
                256
            ]
        }
    ],
    "connections": {
        "WAHA Webhook": {
            "main": [
                [
                    {
                        "node": "Respond 200 OK",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Event Filter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Event Filter": {
            "main": [
                [
                    {
                        "node": "Normalize & Validate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize & Validate": {
            "main": [
                [
                    {
                        "node": "Anti-Loop Filter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Anti-Loop Filter": {
            "main": [
                [
                    {
                        "node": "Call Dashboard API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call Dashboard API": {
            "main": [
                [
                    {
                        "node": "Extract Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Reply": {
            "main": [
                [
                    {
                        "node": "SendText WAHA",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "instanceId": "833fc7d2283e5b6b677f65ba10f0e955c42134a0f81a213cf710f3b17b3bd918"
    }
}