whatsapp-debug-payload.json
{
    "name": "WhatsApp Debug - Log Payload",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-primary",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-debug",
            "name": "WAHA Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "webhookId": "whatsapp-primary"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\"status\":\"ok\"}",
                "options": {
                    "responseCode": 200
                }
            },
            "id": "respond-debug",
            "name": "Respond 200 OK",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                200,
                -100
            ]
        },
        {
            "parameters": {
                "jsCode": "// DEBUG: Log entire payload structure\nconst raw = $input.first().json;\n\n// Log to n8n console\nconsole.log('===== WAHA WEBHOOK PAYLOAD =====');\nconsole.log(JSON.stringify(raw, null, 2));\nconsole.log('=================================');\n\n// Check all possible locations\nconst locations = {\n  'raw': raw,\n  'raw.body': raw.body,\n  'raw.data': raw.data,\n  'raw.payload': raw.payload,\n  'raw.event': raw.event,\n};\n\nif (raw.body) {\n  locations['raw.body.payload'] = raw.body.payload;\n  locations['raw.body.event'] = raw.body.event;\n}\n\nif (raw.data) {\n  locations['raw.data.from'] = raw.data.from;\n  locations['raw.data.body'] = raw.data.body;\n}\n\nif (raw.payload) {\n  locations['raw.payload.from'] = raw.payload.from;\n  locations['raw.payload.body'] = raw.payload.body;\n}\n\nconsole.log('===== EXTRACTED LOCATIONS =====');\nconsole.log(JSON.stringify(locations, null, 2));\n\n// Return all data for inspection\nreturn [{ json: { \n  raw: raw,\n  locations: locations,\n  timestamp: new Date().toISOString()\n} }];"
            },
            "id": "code-debug",
            "name": "Debug Log Payload",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                200,
                100
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://dashboard-kecamatan-nginx/api/whatsapp/handle",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer fJJCz33U8jkHIKXEhTpv91GZJz97VGPHmItYlvxPNUi8obg05BYsZCh5TmfAznma"
                        },
                        {
                            "name": "Accept",
                            "value": "application/json"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ phone: $json.locations?.['raw.payload.from'] || $json.locations?.['raw.data.from'] || $json.raw?.from, message: $json.locations?.['raw.payload.body'] || $json.locations?.['raw.data.body'] || $json.raw?.body, chatId: $json.locations?.['raw.payload.from'] || $json.locations?.['raw.data.from'] || $json.raw?.from }) }}",
                "options": {
                    "response": {
                        "response": {
                            "neverError": true
                        }
                    },
                    "timeout": 15000
                }
            },
            "id": "http-debug",
            "name": "Call Dashboard API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                400,
                100
            ]
        },
        {
            "parameters": {
                "jsCode": "const resp = $json;\nconst reply = resp.reply || resp.message || resp.text || resp.data?.reply || null;\n\nconsole.log('===== DASHBOARD RESPONSE =====');\nconsole.log(JSON.stringify(resp, null, 2));\nconsole.log('Reply:', reply);\n\nif (!reply) return [];\n\n// Get chatId from previous node\nconst prevData = $('Debug Log Payload').first().json;\nconst chatId = prevData.locations?.['raw.payload.from'] || prevData.locations?.['raw.data.from'] || prevData.raw?.from;\n\nreturn [{ json: { chatId, reply } }];"
            },
            "id": "extract-debug",
            "name": "Extract Reply",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                600,
                100
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://waha-kecamatan:3000/api/sendText",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-Api-Key",
                            "value": "62a72516dd1b418499d9dd22075ccfa0"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ session: 'default', chatId: $json.chatId, text: $json.reply }) }}",
                "options": {
                    "timeout": 10000
                }
            },
            "id": "send-debug",
            "name": "SendText WAHA",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                800,
                100
            ]
        }
    ],
    "connections": {
        "WAHA Webhook": {
            "main": [
                [
                    {
                        "node": "Respond 200 OK",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Debug Log Payload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Debug Log Payload": {
            "main": [
                [
                    {
                        "node": "Call Dashboard API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call Dashboard API": {
            "main": [
                [
                    {
                        "node": "Extract Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Reply": {
            "main": [
                [
                    {
                        "node": "SendText WAHA",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "instanceId": "debug-instance"
    }
}