n8n-workflows/wf-umkm-jasa.json
{
    "name": "wf-umkm-jasa",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "umkm-jasa-search",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "b1b2c3d4-0001-4000-8000-000000000001",
            "name": "UMKM Jasa Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "webhookId": "umkm-jasa-webhook"
        },
        {
            "parameters": {
                "jsCode": "// Detect search type (UMKM or Jasa)\nconst message = $input.first().json.body?.body || $input.first().json.body?.message || '';\nconst from = $input.first().json.body?.from || $input.first().json.body?.sender || '';\n\nconst isJasa = message.toLowerCase().includes('jasa') || \n               message.toLowerCase().includes('tukang');\n\nconst endpoint = isJasa ? '/jasa/search' : '/umkm/search';\n\n// Extract search keyword\nlet keyword = message;\nconst prefixes = ['umkm', 'jasa', 'produk', 'tukang', 'usaha'];\nfor (const prefix of prefixes) {\n  if (keyword.toLowerCase().startsWith(prefix)) {\n    keyword = keyword.substring(prefix.length).trim();\n    break;\n  }\n}\n\nreturn {\n  from: from,\n  message: message,\n  searchType: isJasa ? 'JASA' : 'UMKM',\n  endpoint: endpoint,\n  keyword: keyword || 'semua'\n};"
            },
            "id": "b1b2c3d4-0002-4000-8000-000000000002",
            "name": "Detect Type",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "url": "={{ 'https://kecamatanbesuk.my.id/api/v1/external' + $json.endpoint + '?q=' + encodeURIComponent($json.keyword) }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "options": {}
            },
            "id": "b1b2c3d4-0003-4000-8000-000000000003",
            "name": "Search API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Format search results\nconst data = $input.first().json.data || [];\nconst count = $input.first().json.count || 0;\nconst prevNode = $input.first().json;\nconst searchType = prevNode.searchType || 'UMKM';\nconst websiteLink = $input.first().json.website_link || '';\n\nif (count === 0) {\n  return {\n    to: prevNode.from,\n    message: '🙏 Maaf, data belum ditemukan.\\n\\nSilakan coba kata kunci lain.\\nContoh: Bakso, Madu, Tukang Piket\\n\\nKetik MENU untuk kembali.'\n  };\n}\n\nlet message = searchType === 'JASA' \n  ? '🛠️ Hasil Pencarian Jasa:\\n\\n'\n  : '🛍️ Hasil Pencarian UMKM:\\n\\n';\n\ndata.forEach((item, index) => {\n  message += `${index + 1}️⃣ ${item.name}\\n`;\n  message += `📦 Produk: ${item.product}\\n`;\n  message += `📍 ${item.address}\\n`;\n  message += `📱 WA: ${item.contact_link}\\n\\n`;\n});\n\nif (websiteLink) {\n  message += `🔎 Lihat lebih banyak di:\\n${websiteLink}\\n\\n`;\n}\n\nmessage += 'Ketik MENU untuk kembali.';\n\nreturn {\n  to: prevNode.from,\n  message: message\n};"
            },
            "id": "b1b2c3d4-0004-4000-8000-000000000004",
            "name": "Format Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"to\": $json.to, \"message\": $json.message } }}",
                "options": {}
            },
            "id": "b1b2c3d4-0005-4000-8000-000000000005",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1050,
                300
            ]
        }
    ],
    "connections": {
        "UMKM Jasa Webhook": {
            "main": [
                [
                    {
                        "node": "Detect Type",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Detect Type": {
            "main": [
                [
                    {
                        "node": "Search API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Search API": {
            "main": [
                [
                    {
                        "node": "Format Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Response": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": {}
}