n8n-workflows/whatsapp-bot-production-final.json
{
    "name": "WhatsApp Bot - PRIMARY V2",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-primary",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "6e856c22-4f3f-4f98-9fbe-70226a9db5cf",
            "name": "WAHA Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                -6160,
                1216
            ],
            "webhookId": "whatsapp-primary"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\"status\":\"ok\"}",
                "options": {
                    "responseCode": 200
                }
            },
            "id": "30828f47-d415-444f-b489-0e27b69d6669",
            "name": "Respond 200 OK",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                -5968,
                1088
            ]
        },
        {
            "parameters": {
                "jsCode": "// NODE: EVENT FILTER\nconst raw = $input.first().json;\nif (!raw) return [];\n\nconst data = raw.body || raw;\nconst event = (data.event || '').toLowerCase();\nconst payload = data.payload || {};\n\nconsole.log('[EventFilter] event:', event, '| from:', payload.from);\n\nconst BLOCKED = ['message.ack', 'message.reaction', 'presence', 'session.status', 'state.change'];\nif (BLOCKED.some(e => event.includes(e))) {\n  return [];\n}\n\nif (!event.includes('message') && !payload.from) {\n  return [];\n}\n\nreturn $input.all();"
            },
            "id": "efb2a8c9-2fdb-42b0-95a1-f01a3dc396a5",
            "name": "Event Filter",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -5968,
                1344
            ]
        },
        {
            "parameters": {
                "jsCode": "// NODE: NORMALIZE & VALIDATE (PRIVATE ONLY)\nconst raw = $input.first().json;\nconst data = raw.body || raw;\nconst payload = data.payload || {};\n\nconst chatId = (payload.from || data.from || '').trim();\nconst message = (payload.body || payload.text || data.body || '').trim();\nconst fromMe = payload.fromMe === true || payload.fromMe === 'true';\nconst pushName = payload.pushName || payload.notifyName || '';\n\nconsole.log('[Normalize] from:', chatId, '| msg:', message);\n\nif (!chatId || !chatId.includes('@c.us')) {\n  console.log('[Normalize] DROPPED: Bukan pesan pribadi:', chatId);\n  return [];\n}\n\nif (!message) {\n  console.log('[Normalize] DROPPED: Pesan kosong');\n  return [];\n}\n\nconst phone = chatId.replace('@c.us', '');\n\nreturn [{ json: { chatId, phone, message, fromMe, pushName, timestamp: new Date().toISOString() } }];"
            },
            "id": "d9aa7ee6-f62b-404a-808a-ef4cd0a89381",
            "name": "Normalize & Validate",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -5760,
                1344
            ]
        },
        {
            "parameters": {
                "jsCode": "// NODE: ANTI-LOOP FILTER\nconst fromMe = $json.fromMe;\nif (fromMe === true || fromMe === 'true') {\n  return [];\n}\nreturn $input.all();"
            },
            "id": "8107da42-5dff-432d-af01-4bfecd1461b2",
            "name": "Anti-Loop Filter",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -5552,
                1344
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://dashboard-kecamatan-nginx/api/whatsapp/handle",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer waha_secret_key_2024"
                        },
                        {
                            "name": "Accept",
                            "value": "application/json"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ phone: $json.phone, message: $json.message, chatId: $json.chatId }) }}",
                "options": {
                    "timeout": 15000,
                    "response": {
                        "response": {
                            "neverError": true
                        }
                    }
                }
            },
            "id": "b1ad4242-22f5-421d-a78f-c976a43b7997",
            "name": "Call Dashboard API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -5344,
                1344
            ]
        },
        {
            "parameters": {
                "jsCode": "// NODE: EXTRACT REPLY\nconst resp = $json;\nconst reply = resp.reply || resp.message || resp.text || resp.data?.reply || null;\nconst chatId = $('Anti-Loop Filter').first().json.chatId;\n\nif (!reply) return [];\nreturn [{ json: { chatId, reply } }];"
            },
            "id": "a2b3c4d5-e6f7-4890-abcd-ef1234567890",
            "name": "Extract Reply",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -5136,
                1344
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://waha-kecamatan:3000/api/sendText",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-Api-Key",
                            "value": "={{ $env.WAHA_API_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ session: 'default', chatId: $json.chatId, text: $json.reply }) }}",
                "options": {
                    "timeout": 10000
                }
            },
            "id": "f6179c20-5a10-4aaf-bb28-40263b579208",
            "name": "SendText WAHA",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -4928,
                1344
            ]
        }
    ],
    "connections": {
        "WAHA Webhook": {
            "main": [
                [
                    {
                        "node": "Respond 200 OK",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Event Filter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Event Filter": {
            "main": [
                [
                    {
                        "node": "Normalize & Validate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize & Validate": {
            "main": [
                [
                    {
                        "node": "Anti-Loop Filter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Anti-Loop Filter": {
            "main": [
                [
                    {
                        "node": "Call Dashboard API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call Dashboard API": {
            "main": [
                [
                    {
                        "node": "Extract Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Reply": {
            "main": [
                [
                    {
                        "node": "SendText WAHA",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "meta": {
        "instanceId": "833fc7d2283e5b6b677f65ba10f0e955c42134a0f81a213cf710f3b17b3bd918"
    }
}