services/whatsapp-bot/n8n-workflows/wf-jasa.json
{
    "name": "wf-jasa",
    "nodes": [
        {
            "parameters": {
                "jsCode": "// Extract search query from message\nconst message = $json.message || '';\n\n// Remove JASA keyword and get search term\nlet query = message\n  .replace(/jasa/gi, '')\n  .replace(/tukang/gi, '')\n  .replace(/servis/gi, '')\n  .replace(/service/gi, '')\n  .replace(/cari/gi, '')\n  .trim();\n\nif (!query || query.length < 2) {\n  query = '';\n}\n\nreturn {\n  json: {\n    ...$json,\n    query: query\n  }\n};"
            },
            "id": "extract-jasa-query",
            "name": "Extract Jasa Query",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                200,
                200
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "http://whatsapp-api:8001/api/jasa/search",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "q",
                            "value": "={{ $json.query }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "search-jasa-api",
            "name": "Search Jasa API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                400,
                200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.success }}",
                            "operation": "equal",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "jasa-found-check",
            "name": "Jasa Found?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                600,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "// Format Jasa results with phone masking\nconst data = $json.data || [];\nconst query = $('Extract Jasa Query').item.json.query;\n\nconst results = data.slice(0, 5);\n\nif (results.length === 0) {\n  return {\n    json: {\n      phone: $('Extract Jasa Query').item.json.phone,\n      chatId: $('Extract Jasa Query').item.json.chatId,\n      reply: `❌ *TIDAK DITEMUKAN*\\n\\nTidak ada jasa dengan kata kunci \"${query}\"\\n\\n💡 Coba kata kunci lain seperti:\\n• Tukang\\n• Servis AC\\n• Montir\\n• Piket`\n    }\n  };\n}\n\nlet replyText = `🔧 *HASIL PENCARIAN JASA*\\n`;\nif (query) replyText += `Kata kunci: \"${query}\"\\n`;\nreplyText += `Ditemukan: ${data.length} jasa\\n`;\nreplyText += `───────────────────\\n\\n`;\n\nresults.forEach((item, index) => {\n  const phone = item.whatsapp || item.phone || '';\n  const maskedPhone = phone.length > 8 \n    ? phone.substring(0, 4) + '****' + phone.substring(phone.length - 4)\n    : phone;\n  \n  const waLink = `https://wa.me/${phone.replace(/[^0-9]/g, '')}`;\n  \n  replyText += `${index + 1}. *${item.nama_jasa || item.name}*\\n`;\n  replyText += `   📍 ${item.desa || item.alamat || '-'}\\n`;\n  if (item.keahlian || item.skill) {\n    replyText += `   🔧 ${item.keahlian || item.skill}\\n`;\n  }\n  replyText += `   📱 ${maskedPhone}\\n`;\n  replyText += `   🔗 [Hubungi via WA](${waLink})\\n\\n`;\n});\n\nif (data.length > 5) {\n  replyText += `_...dan ${data.length - 5} lainnya_\\n`;\n}\n\nreplyText += `\\n💡 Ketik JASA <jenis> untuk pencarian spesifik`;\n\nreturn {\n  json: {\n    phone: $('Extract Jasa Query').item.json.phone,\n    chatId: $('Extract Jasa Query').item.json.chatId,\n    reply: replyText\n  }\n};"
            },
            "id": "format-jasa-response",
            "name": "Format Jasa Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                800,
                100
            ]
        },
        {
            "parameters": {
                "jsCode": "const replyText = `❌ *ERROR*\\n\\nGagal mencari data jasa. Silakan coba lagi nanti.\\n\\n💡 Ketik MENU untuk melihat daftar layanan.`;\n\nreturn {\n  json: {\n    phone: $('Extract Jasa Query').item.json.phone,\n    chatId: $('Extract Jasa Query').item.json.chatId,\n    reply: replyText\n  }\n};"
            },
            "id": "jasa-error",
            "name": "Jasa Error",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                800,
                300
            ]
        }
    ],
    "connections": {
        "Extract Jasa Query": {
            "main": [
                [
                    {
                        "node": "Search Jasa API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Search Jasa API": {
            "main": [
                [
                    {
                        "node": "Jasa Found?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Jasa Found?": {
            "main": [
                [
                    {
                        "node": "Format Jasa Response",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Jasa Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        {
            "name": "whatsapp"
        },
        {
            "name": "sub-workflow"
        }
    ],
    "triggerCount": 0,
    "updatedAt": "2026-02-13T00:00:00.000Z",
    "versionId": "1"
}